<!DOCTYPE html>
<html>
   <head>
      <title>Rep Log</title>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet" type="text/css">
      <link href="/stylesheets/app.css" rel="stylesheet" type="text/css">
   </head>
   <body>
      
      <div class="ui fixed inverted menu">
         <div class="ui container">
            <div class="header item"><i class="code icon"></i>REPLOG</div>
            <a href="/" class="item">HOME</a>
            <a href="/workouts/new" class="item">Log Your Workout</a>
         </div>
      </div>