<!DOCTYPE html>
<html>
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!--Semantic UI-->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet" type="text/css">
      
      <!--Custom CSS-->
      <link href="/stylesheets/app.css" rel="stylesheet" type="text/css">

      <title>RepLog</title>
   </head>
   <body>
      
      <div class="ui fixed inverted menu">
         <div class="ui container">
            <a href="/">
               <div class="header item"><i class="bullseye icon"></i>REPLOG</div>
             </a>
         </div>
      </div>