<% include ../partials/header %>

<div class="ui main container">

   <div class="ui huge header">
      <h1>Add new exercise</h1>
   </div>

   <div class="ui top attached segment">
      <div class="ui divided items">

         <form action="/workouts/<%= workout._id %>/exercise" method="POST">

            <div class="">
               <input class="" type="text" placeholder="Type of exercise" name="Exercise[type]">
            </div>
            <div class="">
                  <input class="" type="text" placeholder="How much weight" name="Exercise[weight]">
               </div>
               <div class="">
                     <input class="" type="number" placeholder="How many reps" name="Exercise[reps]">
                  </div>

            <div class="">

               <button class="">
                  Submit
               </button>

            </div>

         </form>

      </div>   
   </div>

</div>

<% include ../partials/footer %>